[user]
	name = Bertina Zhai
	email = bertina.zhai@petradise.com
[core]
	excludesfile = /Users/vs/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[petradise "gerrit"]
	user = bertina
[alias]
	co = checkout
	st = status
	br = branch
[commit]
	template = /Users/vs/.stCommitMsg
